In [67]:
print('sagar')

sagar

In [68]:
a=2
v=3
a+v

5

In [69]:
# Start Python Course #This is a comment also
# it is a jupyter lab 

# tkinter- Gui Developement

# THIS IS A COMMMENT 
'''
this is
a multi 
line text for you'''

'\nthis is\na multi \nline text for you'

# Take INput

In [39]:
num1=int(input('enter your 1st no: '))
num2=int(input('ener your 2nd no: '))
result=num1+num2
print('so',num1,'+',num2,'=',result)
print("so "+ str(num1) + "+" + str(num2) + '=' + str(result))
print('so {} + {} = {}'.format(num1,num2,result))  #{} Place Holder
print('so %d + %d = %d'%(num1,num2,result))
# d= decimal %f= float

so 5 + 1257 = 1262
so 5+1257=1262
so 5 + 1257 = 1262
so 5 + 1257 = 1262

# arithmetic Operator

In [40]:
print(400+300)
print(400-300)
print(400*300)
print(400/300)
print(400//300)
print(400%300)
print(400**3)

700
100
120000
1.3333333333333333
1
100
64000000

In [41]:
# Logical Operator
# Not And Or
print(10>3 and 200>90)
print(2>3 and 89>9)
print(2>3 or 89>9)

True
False
True

In [42]:
## Coditional Statement
a=int(input('enter your first no: '))
b=int(input('enter your second no: '))
c=int(input('enter your third no: '))
if (a >= b and a >=c):
    print('Maximum No is',a)
    print('this is from if bolck')
elif (b>=a and b>=c):
    ('The maximum number is',b)
    ('this is from elif block')
else:
    print('The maximum no is',c)
    print('this is from else block')

# we use anyone indent in if-else condition

## LOOP

In [43]:
# For Loop 
for i in range(1,10):
    if (i==6):
        continue
        # break
    print('i=',i)
else:
    print('this is else block executing')
print('end of the programe')
# break = coming out of the loop
#  continue = next itreation please go for the next itreation

i= 1
i= 2
i= 3
i= 4
i= 5
i= 7
i= 8
i= 9
this is else block executing
end of the programe

In [44]:
# what is the difference between pass and continue
num1=100
if num1 % 10 !=0:
    pass      # Pass do nothing
else:
    print('number is not divisiable')

number is not divisiable

In [45]:
# while loop
i=1
while (i<=10):
    print('i=',i)
    i+=1
else:
    print('else block is executing smoothly')
print('End of the programe ...')

i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9
i= 10
else block is executing smoothly
End of the programe ...

### 2ND DAY

### Dealing with the Functions

In [46]:
# List LIST
list1=[11,1,2,4,3,'sagar',4.5]
print(list1,len(list1),type(list1),id(list1))

[11, 1, 2, 4, 3, 'sagar', 4.5] 7 <class 'list'> 2266420430336

In [47]:
# Tuple
tuple1=(11,1 ,1,2,1,'df',8.9)
print(tuple1,len(tuple1),type(tuple1),id(tuple1))

(11, 1, 1, 2, 1, 'df', 8.9) 7 <class 'tuple'> 2266407262048

In [48]:
# array= similar datatype , static memory allocation
# List= Diferenet Data type, many element inserted any time
 # DICTONARY- KEY VALUE PAIR
dict1={'apple':120,'mango':110,'watermelon':10}
print(dict1,type(dict1),len(dict1))

{'apple': 120, 'mango': 110, 'watermelon': 10} <class 'dict'> 3

In [49]:
set1={1,2,4,3,2,5,2,5,2,342}
print(set1,len(set1))

{1, 2, 3, 4, 5, 342} 6

In [50]:
num1=100
num2=num1
print(num1,id(num1))
print(num2,id(num2))

100 2266331895248
100 2266331895248

In [51]:
def fun1():
    print('hello '*5)
fun1()
fun1()

hello hello hello hello hello
hello hello hello hello hello

In [52]:
def fun2(msg,times):  #     This is known as parameter
    print(msg*times)
fun2('welcome ',3)
fun2('Hello ',7) # this is arguement

welcome welcome welcome
Hello Hello Hello Hello Hello Hello Hello

In [53]:
def fun3(msg,times):
    return(msg*times)
result=fun3('Computer ',4)
print(result)

Computer Computer Computer Computer

In [54]:
def func4(par1, par2=None):
    if (par2 is None):
        return par1 + par1
    else:
        return par1 + par2

print(func4(299))
print(func4(200,345))

598
545

In [55]:
def funt6(num1,num2):
    total=num1+num2
    diff=num1-num2
    prod=num1*num2
    quot=num1/num2
    return total,diff,prod,quot

tt, dd , pp, qq=funt6(1000,400)


print(f'so total = {tt} ,diff={dd},prod={pp} and quot ={qq}')
print(type(func4))

so total = 1400 ,diff=600,prod=400000 and quot =2.5
<class 'function'>

In [56]:
# function with variable number of arguements
def func6(*arg):  # *arg= it is a tuple variable
    print(arg,len(arg),type(arg))

func6('apple','banana','cherry')
func6('Monday','Friday','saturday','sunday')
func6(111,333)

('apple', 'banana', 'cherry') 3 <class 'tuple'>
('Monday', 'Friday', 'saturday', 'sunday') 4 <class 'tuple'>
(111, 333) 2 <class 'tuple'>

In [57]:
def func8(**kwarg):  # ** kwarg= key-word argument
    print(kwarg,len(kwarg),id(kwarg))

func8(name='Sagar',Age=9,address='Pichhore',s=True)
func8(momo=80,chowmin=120)

{'name': 'Sagar', 'Age': 9, 'address': 'Pichhore', 's': True} 4 2266420667008
{'momo': 80, 'chowmin': 120} 2 2266420649920

In [58]:
def func9(*arg,**kwarg):
    print(arg,len(arg),type(arg))
    print(kwarg,len(kwarg),id(kwarg))

func9("a","b",address='Pichhore',s=True,momo=80,chowmin=120)
print("")
func9('apple','kela','angoor')
print("")
func9(momo=90,chowmin=150,roll=10)

('a', 'b') 2 <class 'tuple'>
{'address': 'Pichhore', 's': True, 'momo': 80, 'chowmin': 120} 4 2266420649216

('apple', 'kela', 'angoor') 3 <class 'tuple'>
{} 0 2266407411776

() 0 <class 'tuple'>
{'momo': 90, 'chowmin': 150, 'roll': 10} 3 2266420667392

In [59]:
i=10
def func10():
    i=190
    print(i,id(i))

print('Before calling func10() i =',i,id(i))
func10()
print('after calling func10() i =',i,id(i))

Before calling func10() i = 10 2266331703888
190 2266331898192
after calling func10() i = 10 2266331703888

In [60]:
i=10
def func10():
    global i
    i=190
    print(i,id(i))

print('Before calling func10() i =',i,id(i))
func10()
print('after calling func10() i =',i,id(i))

Before calling func10() i = 10 2266331703888
190 2266331898192
after calling func10() i = 190 2266331898192

In [61]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [62]:
print('hello','welcome')
print('Hello','sagar',sep=',')

hello welcome
Hello,sagar

In [63]:
##  NON RECURSIVE FUNCTIONS
def factorial_nr(num):
    if(num==0 or num==1):  return 1
    fact=1
    for i in range(2, num + 1):
        fact=fact*i
    return fact

print(factorial_nr(6))
print(factorial_nr(0))

720
1

In [64]:
# RECURSIVE FUNCTION
def factorial_n(num):
    if(num==0 or num==1):  # basecase
        return 1
    return num*factorial_n(num-1)  # Recursive Case
print(factorial_n(6))
print(factorial_n(0))
print(factorial_n(1))

720
1
1

In [65]:
result=list(map(int, input("Enter a set of numbers:").split()))
print(result,type(result))

# This is use for in codeshef programming problem defining in multi test step
# Map= apply all the element in list

[54] <class 'list'>

In [66]:
def myfun11(mystr):
    return len(mystr)
list1=['Monday','Tuesday','Friday','sagar']
result=list(map(myfun11,list1))
print(result,type(result))

[6, 7, 6, 5] <class 'list'>

In [71]:
# SUM OF DIGITS
#First line is a test case
t=int(input())
for i in range(t):
    n=int(input())
    total=0
    while(n !=0):
        last_digit=n%10
        total=total+last_digit
        n=n // 10
    print(total)

6
29
19

## DAY 3

# LAMBDA FUNCTION

In [72]:
sagar=lambda num: num*num
print(sagar(5))
print(sagar(7))

25
49

In [75]:
## Dealing with the math module
import math
print(math.gcd(100,45),math.gcd(200,70))
print(math.pow(10,2))
print(math.sin(0),math.cos(0),math.tan(0))
print(math.log(100))
print(math.factorial(5),math.pi)

5 10
100.0
0.0 1.0 0.0
4.605170185988092
120 3.141592653589793

## String Processing

In [7]:
mystr='university'
print(mystr[3],mystr[-7],mystr[7],mystr[-3])
print(mystr,len(mystr),type(mystr),id(mystr))
print(mystr[1],mystr[-9])
print(mystr[3:6])
print(mystr[::2],mystr[1::2],mystr[::-1])
print(mystr[6:])

## Slicing and Indexing

v v i i
university 10 <class 'str'> 2180071317808
n n
ver
uiest nvriy ytisrevinu
sity

In [11]:
mysaa='saGarGupTA'
print(mysaa,len(mysaa),type(mysaa),id(mysaa))
print(mysaa.upper())
print(mysaa.lower())
print(mysaa.capitalize())
print(mysaa.title())
print(mysaa.swapcase())

saGarGupTA 10 <class 'str'> 2180071417264
SAGARGUPTA
sagargupta
Sagargupta
Sagargupta
SAgARgUPta

In [13]:
mystr="sagarabcde"
print(mystr,mystr.isalpha(), mystr.isalnum(),mystr.isdigit())
mystr='15234'
print(mystr,mystr.isalpha(), mystr.isalnum(),mystr.isdigit())
mystr='abdgjd#@@#$123456'
print(mystr,mystr.isalpha(), mystr.isalnum(),mystr.isdigit())

sagarabcde True True False
15234 False True True
abdgjd#@@#$123456 False False False

In [17]:
mystr='university'
print(mystr.find('k'))

-1

In [20]:
mystr='A'
print(mystr,ord(mystr))  # Ord keyword is used for to convert character to ASKI CODE AND ASKI code to character
myvar=65
print(myvar,chr(myvar))

A 65
65 A

In [22]:
mystr='    Welcome to all  '
print(mystr,len(mystr))
print(mystr.strip(),len(mystr.strip()))

# .strip function is used to avoid countibng white spaces

    Welcome to all   20
Welcome to all 14

## JOIN AND SPLIT METHOD

In [3]:
## Split convert string into a list
# mystr='charity should begin at home'
# list1=mystr.split(" ")
# print(list1)

## Join convert list to a character
list1=['charity', 'should', 'begin', 'at', 'home']
print(list1,type(list1))
mystr="- ".join(list1)
print(mystr,type(mystr))

['charity', 'should', 'begin', 'at', 'home'] <class 'list'>
charity- should- begin- at- home <class 'str'>

In [5]:
### Dealing with the List
#List is mutable
list=[100,2,3,2,4,2]
print(list,len(list),type(list))
print(max(list),min(list))
print(sum(list),sum(list)/len(list))

[100, 2, 3, 2, 4, 2] 6 <class 'list'>
100 2
113 18.833333333333332

In [9]:
list1=['red','green','black','pink']
print(list1,len(list1),type(list1))
print(max(list1),min(list1))
#print(sum(list1),sum(list1)/len(list1))

['red', 'green', 'black', 'pink'] 4 <class 'list'>
red black

In [12]:
list1=['red','green','black','pink',2,3,46,543]
print(list1,len(list1),type(list1))
#print(max(list1),min(list1))
#print(sum(list1),sum(list1)/len(list1))

['red', 'green', 'black', 'pink', 2, 3, 46, 543] 8 <class 'list'>

In [16]:
list1=['red','green','black','pink']
list2=['sun','mon','wed']
list3=list1 + list2
print(list3,len(list3))
print(list3[2])
print(list3[2][1:3])

['red', 'green', 'black', 'pink', 'sun', 'mon', 'wed'] 7
black
la

In [17]:
list1=['red','green','black','pink']
list2=['sun','mon','wed']
list3=[list1 , list2]
print(list3,len(list3))
print(list3[0][2],list3[1][0][1:])

[['red', 'green', 'black', 'pink'], ['sun', 'mon', 'wed']] 2
black un

In [21]:
list4=['mmanjari','hindi','urdu']
print(list4,len(list4))
list4.append("golden")
list4.append('kalu')
print(list4,len(list4))
list4.insert(1,'sagar')
print(list4)

['mmanjari', 'hindi', 'urdu'] 3
['mmanjari', 'hindi', 'urdu', 'golden', 'kalu'] 5
['mmanjari', 'sagar', 'hindi', 'urdu', 'golden', 'kalu']

In [23]:
list4=['mmanjari','hindi','urdu']
print(list4)
list4.remove('urdu')
print(list4)
del list4[1]
print(list4)

['mmanjari', 'hindi', 'urdu']
['mmanjari', 'hindi']
['mmanjari']

In [29]:
# Dealing With te Dictonary
dict1={'banana':'yellow',1:'kalu','black':'Grapes'}
print(dict1,len(dict1),type(dict1),id(dict1))
print(dict1.items())   # List of tuples
print(dict1.keys())
print(dict1.values())

{'banana': 'yellow', 1: 'kalu', 'black': 'Grapes'} 3 <class 'dict'> 1858100539968
dict_items([('banana', 'yellow'), (1, 'kalu'), ('black', 'Grapes')])
dict_keys(['banana', 1, 'black'])
dict_values(['yellow', 'kalu', 'Grapes'])

In [39]:
dict1={'banana':'yellow',1:'kalu','black':'Grapes'}
print(dict1,len(dict1),type(dict1),id(dict1))
dict1['green']='Mango'
print(dict1)
print(dict1.get('banana')) # to get the particula value

{'banana': 'yellow', 1: 'kalu', 'black': 'Grapes'} 3 <class 'dict'> 1858101130688
{'banana': 'yellow', 1: 'kalu', 'black': 'Grapes', 'green': 'Mango'}
yellow

In [43]:
# DEALING WITH THE SET
lit=[11,2,3,3,32,33,222,233,2,22,33,4,4342,22,11,22,]
print(lit,len(lit),type(lit),id(lit))
set2=set(lit)
print(set2,len(set2),type(set2),id(set2))

[11, 2, 3, 3, 32, 33, 222, 233, 2, 22, 33, 4, 4342, 22, 11, 22] 16 <class 'list'> 1858101117760
{32, 33, 2, 3, 4, 233, 11, 22, 4342, 222} 10 <class 'set'> 1858101880192

In [44]:
set1={100,200,500,100}
print(set1,len(set1),type(set1))

{200, 100, 500} 3 <class 'set'>

In [47]:
# Set union opretion
snakes={"viper","cobra",'python'}

langs={'c++','java','python','django'}
print(snakes,len(snakes))
print(langs,len(langs))
result=langs.union(snakes)
print(result,len(result))

{'python', 'cobra', 'viper'} 3
{'python', 'java', 'django', 'c++'} 4
{'python', 'java', 'viper', 'cobra', 'django', 'c++'} 6

In [49]:
# set intersection operation
snakes={"viper","cobra",'python'}

langs={'c++','java','python','django'}
print(snakes,len(snakes))
print(langs,len(langs))
result=langs.intersection(snakes)
print(result,len(result))

{'python', 'cobra', 'viper'} 3
{'python', 'java', 'django', 'c++'} 4
{'python'} 1

In [50]:
# set difference
snakes={"viper","cobra",'python'}

langs={'c++','java','python','django'}
print(snakes,len(snakes))
print(langs,len(langs))
result=snakes.difference(langs)
print(result,len(result))
print(snakes,len(snakes))
print(langs,len(langs))

{'python', 'cobra', 'viper'} 3
{'python', 'java', 'django', 'c++'} 4
{'cobra', 'viper'} 2
{'python', 'cobra', 'viper'} 3
{'python', 'java', 'django', 'c++'} 4