### Pandas Tutorial 
Agenda- 
1. what is dataframe
2. what is dataseries
3. different operation in pandas   

It is open source data structure that is used in data analysis

In [2]:
## First Step is to import the libray 
import pandas as pd
import numpy as np

In [1]:
# # Data Frame Creation
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [3]:
# Playimg with dataframe
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','R2','R3','R4','R5'],columns=['C1','C2','C3','C4'])
df.head()

# For creation dataframe we require three things - data, index,columns

      C1  C2  C3  C4
Row1   0   1   2   3
R2     4   5   6   7
R3     8   9  10  11
R4    12  13  14  15
R5    16  17  18  19

In [4]:
# Converting into the csv file 
df.to_csv('Test_sagar.csv')

In [6]:
### Indexing in pandas - accessing the elements in the dataset 
# LOC and ILOC
type(df.loc['Row1'])

pandas.core.series.Series

In [31]:
df.loc['Row1']  # loc is used to access the only row element

C1    0
C2    1
C3    2
C4    3
Name: Row1, dtype: int32

In [10]:
type(df.iloc[0:3,0:2])# By this we can access rows and columns how much you want

pandas.core.frame.DataFrame

In [11]:
df.iloc[0:3,0:2]

      C1  C2
Row1   0   1
R2     4   5
R3     8   9

In [29]:
# Convert dataFrames in into arrays
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [28]:
# Count all the count of each values 
df['C2'].value_counts()

1     1
5     1
9     1
13    1
17    1
Name: C2, dtype: int64

In [22]:
# Checkingis there any null value or not 
df.isnull().sum()

C1    0
C2    0
C3    0
C4    0
dtype: int64